body{
    background-color:black;
}

/* section{
    background-color:black;
    border:2px solid #ccc;
    margin:auto;
    width:600px;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
} */
.enter{
    width:80%;
    height: 400px;
    margin: 100px auto;
    font-size: 2.5rem;
    text-align: center;
}
li{
    text-align: center;
    padding: 10px;
}
table{
    margin:auto;
    background-color: black;
    text-align: center;
    width:75%;
}
td{
    border: 2px solid greenyellow;
    padding:5px;
    width: 50%;
    text-align: center;
    color: greenyellow;
}
#lastrow{
    border-bottom: 5px solid black;
}
#firstrow{
    border-top: 2.5px solid black;
}
#enter{
    width: 100px;
    height:50px;
    color: black;
    background-color: greenyellow;
    font-size: 1.2rem;
    border-radius: 10px;
}
h2{
    color:greenyellow;
}
#enter:hover{
    background-color: green;
}
#delete{
    background-color: greenyellow;
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    color:black;
    border-radius: 10px;
}
#delete:hover{
    background-color: red;
}
#exit{
    background-color: greenyellow;
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    color:rgb(21, 22, 21);
    border-radius: 10px;
}
#exit:hover{
    background-color: rgb(223, 160, 45);
}
#submit{
    background-color: greenyellow;
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
}
legend{
    color:greenyellow;
}
fieldset{
    width: 80%;
    height: 80%;
    padding: 20px;
}
input{
    height:35px;
    width:300px;
}
.exit{
    font-size: 2.5rem;
    text-align: center;
    margin: 50px;
}
.exit button{
    background-color: greenyellow;
    height: 50px;
    width: 150px;
    font-size: 2rem;
}